# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Virtualenv =====
.venv/
venv/
env/

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Build / Distribuição (PyInstaller) =====
build/
dist/
*.spec

# ===== Logs e artefatos =====
*.log
*.tmp

# ===== Saídas geradas =====
*.xlsx
*.csv
*.docx

# ===== Testes =====
.pytest_cache/
